header{
    /* Включаем режим Flexbox. */
    display: flex;

    /* Распределяем элементы внутри шапки */
    justify-content: space-between;

    /* Выравниваем элементы вертикально по центру. */
    align-items: center;
    background: #f4eee6;
    width: 100%;
    height:50px;
}
.header-left{
    font-size: medium;
    font-family: "Times New Roman";
    font-style: italic;
}

.first_part{
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 1000px;
    background-image: url("https://getbg.net/upload/full/www.GetBg.net_2017Space_Planet_Neptune_star_galaxy_112663_.jpg") ;
    -webkit-background-size: cover;

}
.text_1{
    text-align: start;
    font-size: xx-large;
    color: #d833e3;
}
.text_2 {
    position: absolute;
    right: 20px;
    top: 800px;
    font-size: xx-large;
    color: #d833e3;
}
.second_part {
    height: 1000px;
    width:100%;
    background-image: url("https://avatars.mds.yandex.net/get-pdb/218133/df2f38ac-30b1-46b6-9a4c-b6f500176082/s1200");
    -webkit-background-size: cover;
}
.text_3{
    position: absolute;
    right:30%;
    left:30%;
    top:1300px;
    bottom: 400px;
    font-size: xx-large;
    font-family: Arial;
    font-style: italic;
    width: 100%;

}
#footer {
    /* Включаем режим Flexbox. */
    display: flex;

    /* Распределяем элементы внутри шапки */
    justify-content: space-between;
    /* Выравниваем элементы вертикально по центру. */
    align-items: center;
    left: 0; bottom: 0; /* Левый нижний угол */
    color: #fff; /* Цвет текста */
    border-radius: 10px;
    padding: 10px; /* Поля вокруг текста */
    background: #39b54a; /* Цвет фона */
}






